.data-info{
  border: 1px solid red;
  width: 80%;
  height: 80px;
  margin: 0 auto;


}


.main_tab {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

.MuiBox-root-81 {
  padding: 0;
}

.MuiTabs-vertical {
  padding-top: 80px;
}